*{
    padding: 0;
    margin: 0% 1%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

html{
    background: #0D1117;
    margin: 0 5%;
}

.logos {
    width: 100%;
    display: inline-block;
    margin: 0;
}

.logoAlura {
    box-shadow: 10px 10px 50px 10px #161b22;
    width: 10%;
    border-radius: 100px;
    padding: 10px 0;
    margin-top: 1.5%;
}

.logoEncriptador {
    width: 24%;
    margin: 0;
    padding: 0 38.5%;    
}

.github {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 80px;
    border-radius: 30px;
}

.inputPadron {
    display: inline-block;
    width: 49%;
}

.inputTexto {
    padding: 5px;
    width: 95%;
    height: 325px;
    border-radius: 20px;
    font-size: 25px;
}

.exclamacion {
    content: url('https://api.iconify.design/bi/exclamation-circle-fill.svg?color=%23aaa');
    display: inline-block;
    margin: 0;
}

.textoAviso {
    width: 100%;
    text-align: left;
    display: inline-block;
    color: #AAAAAA; 
    padding: 0;
}
#buttons {
    margin: 1% 20%;
}

.Encriptador {
    background: #3fb950;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    margin: 0 5px;
}

.Desencriptador {
    background: #161b22;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    margin: 0 5px;
}

.outputPadron {
    display: inline-block;
    position: fixed;
    width: 43%;
    border-radius: 20px;
    background: #AAAAAA;
}

.outputTexto {
    background: #AAAAAA;
    padding: 5px;
    width: 95%;
    height: 10.55em;
    border-radius: 20px;
    font-size: 25px;
}

.munheco {
    position: absolute;
    top: 13%;
    right: 28%;
    width: 250px;
}

.ParrafoContenido {
    text-align: center;
    margin: 0 20%;
}

.ocultar{
    display: none;
}

.Copiar {
    background-color: #161b22;
    color: white;
    border-radius: 10px;
    padding: 2.5%;
    margin: 1% 10px 1% 84%;
    border: none;
    font-size: 15px;
}

.Encriptador:hover , .Desencriptador:hover , .Copiar:hover {
    background: #888888;
    transform: scale(1.2); 
}

.Encriptador:active , .Desencriptador:active , .Copiar:active {
    background: #bcd339;
    transform: scale(1.1); 
}